main.contact {
    .hero {
        padding: 100px 0;
        background: url("/img/contact/contact-bg.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 540px;
        position: relative;
    }
    .form-section {
        margin-top: -400px;
        padding-bottom: 100px;
        .content{
            border-radius: 4px;
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
        }
        
    }

    .contact-sidebar{
        .icon-box{
            .icon{
                font-size: 44px;
            }
            h3{
                margin-top: 12px;
            }
            a{
                display: block;
            }
            p{
                margin-bottom: 0;
            }
        }
    }
}
.contact-form {
    label {
        font-weight: 500;
        color: #363636;
    }
    input.form-control {
        background: #f7f7f7;
        border-radius: 2px;
        padding: 24px;
        display: inline-block;
        margin-bottom: 14px;
        outline: none;
        font-size: 14px;

        &:focus {
            border-radius: 2px;
        }
    }
}
