main.services {
    .services-list {
        .item{
            background-color: rgb(255, 255, 189);
        }
    }
}

.product-list{
    .item{
        background-color: rgb(255, 255, 189);
        margin-bottom: 6px;
        padding: 8px 16px;
    }
}