.product-card {
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;

    img {
        transition: all 0.3s ease-in-out;
    }

    a {
        color: #a8a8a8;
    }
    .quick-access {
        position: absolute;
        top: 10px;
        right: 10px;
    }


    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

.modal-w75{
    width: 75%;
    max-width: none!important;
}
.product-view{
    .modal-header{
        border-bottom: none;
    }
    .modal-footer{
        border-top: none;
    }
}

// category sidebar
.category-container{
    .category-item{
        border: 2px solid #EBEDF0;
        padding:25px 20px 15px;
        border-bottom: none;

        &:hover{
            background-color: #F1F3F6
        }
    }
    .category-item:last-child{
        border-bottom: 2px solid #EBEDF0;
    }
}