.social-icons {
    // font-size: 22px;
    border-radius: 100px;
    padding: 8px;
    background-color: #0db04b;
    display: inline-block;
    color: #fff;
    border: 2px solid #0db04b;
    transition: all 0.3s ease-in-out;
    svg {
        height: 24px;
        width: 25px;
    }
}

.social-icon-container{
    margin-right: 12px !important;
    display: inline-block;
}
.social-icon-container:hover .social-icons {
    color: #fff;
    background-color: #0db04b;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #000;

}
a.social-icon-container:hover {
    text-decoration: none;
    color: #fc8540;

    // #033642
}

